﻿@model List<Senith.Models.Ticket>

@{
    ViewBag.Title = "MostrarTickets";
}

<h2>MostrarTickets</h2>
<h3>@ViewBag.Message</h3>

<div>
    Mostrando @Model.Count tickets
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Destino</th>
            <th>Hora de Salida</th>
            <th>Clase de vuelo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ticket in Model)
        {
            var disponible = string.Empty;

            if (!ticket.Disponible)
            {
                disponible = "Danger";
            }

            <tr class="disponible">
                <td>
                    @ticket.Destino
                </td>
                <td>
                    @ticket.HoraSalida
                </td>
                <td>
                    @ticket.Clase
                </td>
            </tr>
        }
    </tbody>
</table>